input.error{
    border: 1px solid red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,0.25);
}

label.error{
    font-weight: bold;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
    color: red;
}